.add-to-cart{
  padding: 10px 50px;
  font-size: 15px;
  background-color: rgb(255,216,20);
  border: none;
  border-radius: 25px;

}
.uber-buttons{
  margin: 20px;
}
.request-now{
  padding: 15px 30px;
  font-size:15px;
  background-color: black;
  color:white;
  border:none;
  border-radius:5px;
  font-weight:bold;
}
.schedule-button{
  margin-left:20px;
  padding: 15px 30px;
  font-size:15px;
  background-color:rgb(230,230,230);
  border:none;
  border-radius:5px;
  font-weight:bold;
}